<header>
  <nav class="navbar">
    <div class="logo">
      <a ><img src="./assets/images/aadhya logo.png" alt="Logo"></a>
    </div>
    <ul class="nav-links">
      <li class="dropdown">
        <a>Menu</a>
        <ul class="dropdown-content">
          <li><a (click)="navigateTocustomercreation()">Customer Creation</a></li>
          <li><a (click)="navigateTosalesinvoice()">Sales Invoice</a></li>
    
        </ul>
      </li>
      <li><a (click)="navigateToLogin()">Logout</a></li>
    </ul>
  </nav>
</header>
